.heading {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 500;
  text-align: left;
}

.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-large {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.text-bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.text-bold-large {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500;
}
